.box-1 {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-left: 50px;
}
.box-2 {
  margin-right: 300px;
}
/* ACTable.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  background-color: orange;
  color: white;
  padding: 10px;
}

td {
  color: blue;
  padding: 10px;
  text-align: center;
}

thead {
  border-bottom: 2px solid black;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
.heading {
  text-align: center;
}
